:root {
  --fontColor: #ff8d29;
  --upperColor: #fdeedc;
  --contentColor: #ffd8a9;
  --bottomColor: #f1a661;
  --footerColor: #e38b29;
  --acceptColor: #00ac0e;
  --cancelColor: #a00000;
  --formColor: #ffb85c81;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: var(--upperColor);
  width: 100%;
}

.navbar-fixed-top {
  position: fixed;
  height: 3rem;
}

.navbar-user-nav {
  justify-content: flex-end !important;
  align-items: center;
  height: 100%;
  margin: 0 8rem;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  padding: 3rem 0 0;
}

.logo {
  width: 28rem;
}

.icon-link {
  transform: translateX(-50%) translateY(-15%);
  position: absolute;
  width: 1.5rem;
}

.link-picture {
  text-decoration: none;
}

.item {
  list-style-type: none;
  padding: 0.625rem 0;
  margin: 0 1.5rem;
}

.link {
  text-decoration: none;
  padding: 0.35rem 2rem;
  cursor: pointer;
  color: var(--fontColor);
  font-weight: bold;
  font-size: 1rem;
}

.navbar-links {
  float: right !important;
  height: 100%;
  margin-right: 10rem;
}

.navbar-link {
  border-bottom: 0rem solid;
  transition: all 0.1s ease-in;
}

.navbar-link:hover {
  border-bottom: 0.275rem solid;
}

.user-link {
  text-decoration: none;
  padding: 0.9rem 2rem;
  cursor: pointer;
  color: var(--fontColor);
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.35s ease;
}

.user-link:hover {
  color: var(--upperColor);
  background-color: var(--fontColor);
}

.link:active {
  text-decoration: none;
}

.btn {
  margin: 1.5rem;
  background: transparent;
  background-color: var(--footerColor);
  padding: 0.5rem 1.5rem;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  transition: opacity 0.5s ease;
}

.btn:hover {
  opacity: 75%;
  color: white;
}

.content {
  height: 100%;
  background-color: var(--contentColor);
}

.bottom-container {
  background-color: var(--bottomColor);
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 0.5rem;
}

.footer-social-img {
  height: 45px;
  width: auto;
  transition: all 0.5s;
}

.link-footer {
  padding: 0 0.5rem;
}

.footer-social-img:hover {
  transform: scale(1.25);
}

.sign-in-footer {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.information-content {
  background-color: #ffb85c81;
  color: #00000098;
  font-style: italic;
  margin: 2rem 0rem 4rem;
  padding: 1rem;
  width: 56rem;
}

.form {
  background-color: #ffb85c81;
  display: flex;
  height: 30rem;
  width: 20rem;
  flex-direction: column;
  align-items: center;
}

.user-avatar {
  width: 10rem;
  margin-top: 1.5rem;
}

.input {
  margin: 0.5rem;
}

.input input {
  background: #00000050;
  border: none;
  border-radius: 5px;
  height: 2em;
  font-size: 1em;
  color: white;
}
